@import "./root";

$blue: #409eff;
$blue2: #1989fa90;

.swiper-ease {
  position: relative;
  overflow: hidden;
}

.swiper-ease-wrapper {
  display: flex;
  transition: transform var(--swiper-ease-slide-transition-delay);
}


img.swiper-ease-slide {
  object-fit: cover;
}

.swiper-ease-slide {
  flex-shrink: 0;
  width: var(--swiper-ease-slide-width);
  
  &:not(:last-child) {
    margin-right: var(--swiper-ease-slide-margin);
  }
}

.swiper-ease-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: red;
  border: 1px solid $blue;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
  
  &:hover {
    background: $blue2;
  }

  &_next {
    right: 10px;
    transform: translateY(-50%) rotate(180deg);
  }
  
  &_prev {
    left: 10px;
    transform: translateY(-50%);
  }
  
  &:after {
    content: url("data:image/svg+xml;utf8,<svg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.05905 -2.91409e-08L5.69141 0.6875L0.632543 6.1875L0.000185262 5.5L5.05905 -2.91409e-08Z' fill='currentColor'/><path d='M5.69141 10.3125L5.05905 11L0.000185262 5.5L0.632543 4.8125L5.69141 10.3125Z' fill='currentColor'/></svg>");
  }
}