@import "./root";

$blue: #409eff;
$blue2: #1989fa90;

.swiper-ease {
  position: relative;
  overflow: hidden;
}

.swiper-ease-wrapper {
  display: flex;
  transition: transform var(--swiper-ease-slide-transition-delay);
}


img.swiper-ease-slide {
  object-fit: cover;
}

.swiper-ease-slide {
  flex-shrink: 0;
  width: var(--swiper-ease-slide-width);
  
  &:not(:last-child) {
    margin-right: var(--swiper-ease-slide-margin);
  }
}

.swiper-ease-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #155290;
  background: rgba(255, 255, 255, .45);
  border: 1px solid $blue;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
  
  &:hover {
    background: $blue2;
  }

  &_next {
    right: 10px;
  }
  
  &_prev {
    left: 10px;
  }
}